<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="sailor for corporate business" />
<link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<%= csrf_meta_tags %>
<title><%= yield(:title) %> | Social Site</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
